<div class="row" style="margin-left:20px">
    <div class="col-md-12 text-center">
        <h2>Liste d'enseignants</h2>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <th>
                    Identifiant
                </th>
                <th>
                    Nom
                </th>
                <th>
                    Prenom
                </th>
                <th>
                    Statut
                </th>
                <th>
                    UC à faire
                </th>

            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>
                        {{user.identifiant}}
                    </td>
                    <td>
                        {{user.nom}}
                    </td>
                    <td>
                        {{user.prenom}}
                    </td>
                    <td>
                        {{user.statut}}
                    </td>
                    <td>
                        {{user.nbHmini}}
                    </td>
                    <td>
                        <a href="oneUser/{{user._id}}" class="btn btn-primary">Voir l'enseignant</a>
                        <a href="getEnseigneCours/{{user._id}}" class="btn btn-primary">Voir les cours</a>
                        <a *ngIf="userConnected.statut=='Admin'"  href="edit-user/{{user._id}}" class ="btn btn-success">EDIT</a>
                         <button *ngIf="userConnected.statut=='Admin'" (click)="delUser(user)" class="btn btn-danger">DELETE</button> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>