<div class="row" style="margin-left:20px">
    <div class="col-md-12 text-center">
        <h2>Bonjour</h2>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <th>
                    Identifiant
                </th>
                <th>
                    Nom
                </th>
                <th>
                    Prenom
                </th>
                <th>
                    Statut
                </th>
                <th>
                    UC à faire
                </th>
                <th>
                    Somme des UCs actuels
                </th>

            </thead>
            <tbody>
                <tr>
                    <td>
                        {{addUser.identifiant}}
                    </td>
                    <td>
                        {{addUser.nom}}
                    </td>
                    <td>
                        {{addUser.prenom}}
                    </td>
                    <td>
                        {{addUser.statut}}
                    </td>
                    <td>
                        {{addUser.nbHmini}}
                    </td>
                    <td [ngStyle]="{color:getColor()}">
                        {{sum}}
                    </td>
                    <td>
                        <a href="getEnseigneCours/{{addUser._id}}" class="btn btn-primary">Voir les cours</a>
                        <a href="edit-user/{{user._id}}" class ="btn btn-success">EDIT</a>
                </tr>
            </tbody>
        </table>
    </div>
</div>