<div class="row">
    <div class="col-md-12 text-center">
        <h2> Modifier un utilisateur</h2>
    </div>
    <div class="row">
        <form [formGroup]="addUser" novalidate class="form">
        <div class="row">
            <div class="col-md-2"></div>
            <div class = "col-md-4">Identifiant</div>
            <div class = "col-md-4"><input type="text" formControlName="identifiant" class="'form-control"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class = "col-md-4">Nom</div>
            <div class = "col-md-4"><input type="text" formControlName="nom" class="'form-control"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class = "col-md-4">Prenom</div>
            <div class = "col-md-4"><input type="text" formControlName="prenom" class="'form-control"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class = "col-md-4">Password</div>
            <div class = "col-md-4"><input type="password" formControlName="password" class="'form-control"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class = "col-md-4">Statut</div>
            <div class = "col-md-4">
                
                <select formControlName="statut" class="'form-control">
                <option valeur="EC">EC</option>
                <option valeur="PRAG">PRAG</option>
                <option valeur="PAST">PAST</option>
                <option valeur="VAC">VAC</option>
                <option valeur="CDE">CDE</option>
                <option valeur="ATER">ATER</option>
                <option valeur="Admin">Admin</option>
            </select>
             </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class = "col-md-4">UC</div>
            <div class = "col-md-4"><input type="number"  *ngIf="user.statut == 'VAC'" formControlName="nbHmini" class="'form-control"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class = "col-md-8"><button type="submit" (click) = "onSubmit()" class="btn btn-success">Modifier</button></div>
        </div>
        </form>
    </div>
</div>