<div class = "container-fluid"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="" >Home</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" *ngIf="user.statut=='Admin'"   routerLink="add-user">Ajouter un utilisateur</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="allUser">Consulter les utilisateurs</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="allCours">Consulter les cours</a>
        </li>
      </ul>
      </div>
      <div>
      <ul class="collapse navbar-collapse">
        <li class="nav-item" >
          <a class="nav-link" *ngIf="!user"  routerLink="login">Connexion</a>
          <a class="btn btn-danger" *ngIf="user"   (click)="logout()" >Deconnexion</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<div class = "container">